/archlinux/*
!/archlinux/ssh-keys/aur_biicode.enc
!/archlinux/Dockerfile
!/archlinux/archpack_generator.py
!/archlinux/archpack_settings.py
!/archlinux/generate.sh
!/archlinux/make.sh
!/archlinux/PKGBUILD_template
!/archlinux/biicode.install_template
